---
import { getImage } from '@astrojs/image';
import Layout from 'layouts/Layout.astro';
import Card from 'components/Card.astro';
import { getAllPosts } from 'src/lib/api';

const { src } = await getImage({
  src: import('public/bg.jpg'),
  alt: 'My hero image',
});

const posts = await getAllPosts();
---

<Layout title="Welcome to Bursteways Tech.">
  <div
    class="h-[60vh]"
    style={{
      backgroundImage: `url(${src})`,
      backgroundSize: 'cover',
    }}
  >
    <div class="flex flex-col items-center justify-center h-full fade">
      <h1 class="text-4xl md:text-6xl lg:text-8xl font-bold text-slate-100">
        Bursteways Tech.
      </h1>
      <p class="text-xl md:text-2xl lg:text-4xl text-slate-200">
        Learn. Build. Awesome stuff.
      </p>
    </div>
  </div>
  <section>
    <pre>{JSON.stringify(posts)}</pre>
  </section>
  <section class="py-6 bg-zinc-900">
    <div
      class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 container mx-auto px-6"
    >
      <Card
        href="/"
        title="Card 1"
        body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod."
      />
      <Card
        title="Card 2"
        href="/"
        body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod."
      />
      <Card
        title="Card 3"
        href="/"
        body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod."
      />
      <Card
        title="Card 4"
        href="/"
        body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod."
      />
      <Card
        title="Card 5"
        href="/"
        body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod."
      />
      <Card
        title="Card 6"
        href="/"
        body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod."
      />
    </div>
  </section>
</Layout>

<style is:global>
  .fade {
    --base: 0;
    animation: filter-in calc(var(--speed, 1) * 1s) ease-in-out;
    box-shadow: var(--shadow-5);
    animation-name: var(--animation-name, filter-in);
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
  }

  @keyframes filter-in {
    0% {
      opacity: 0;
      filter: brightness(var(--base)) contrast(2);
      box-shadow: 0;
    }
  }
</style>
