---
import Layout from 'layouts/Layout.astro';
import Card from 'components/Card.astro';
---

<Layout title="Welcome to Bursteways Tech.">
  <main class="bg">
    <h1 class="text-white">hi</h1>
  </main>
</Layout>

<style>
  main {
    height: 100vh;
  }
  .bg {
    background-image: url('/bg.jpg');
    background-size: cover;
  }
</style>
