---
import clsx from 'clsx';
import { Image } from '@astrojs/image/components';

type Variants = 'outlined' | 'contained'

interface IProps {
  text: string;
  href: string;
  variant: Variant;
  icon?: {
    name: string;
    side: 'left' | 'right';
  };
  classes?: string;
}

const variantStyle: { [key in Variant]: string } = {
  contained: 'bg-blue-500 text-white',
  outlined: 'border border-blue-500 text-blue-500',
}

const {
  text,
  href,
  variant,
  icon,
  classes,
  ...rest
} = Astro.props as IProps;
---

<a
  href={href}
  class={clsx('rounded px-2 py-1', variantStyle[variant], classes)}
{...rest}
>
  <span>{text}</span>
</a>